.scroll-container {
  position: relative;

  background-color: #f3f3f3;
  padding: 1rem;
}

.scroll-info {
  position: sticky;
  aspect-ratio: 3 / 2;
  top: calc((100% - 9 / 16 * 100vw) / 1.2);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  
}

.scroll-section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  aspect-ratio: 16 / 9;
  margin: 0 auto 2rem auto;
			color: #882424;
			background-color: rgba(0, 0, 0, 0.1);
}
