h1 {
  text-align: center;
  font-family: 'freight-big-pro';
  font-size: 101px;
  font-weight: normal;
  letter-spacing: -6.5px;
  overflow-wrap: break-world;
}


.scrolling{
  width: 30%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
}

.scroll-container {
  width: 70%;
  position: relative;
  margin: 1rem auto;
  font-family: var(--sans-serif);
}


.scroll-info {
  position: sticky;
  /*width: auto;*/
  aspect-ratio: 2;
  top: calc((100% - 1 / 2 * 100vw) / 3);
  margin: 0;
  display: flex;
  align-items: left;
  justify-content: right;
  font-size: 64px;
  transition: ease background-color 0.5s;
  
}
.scroll-section {
  position: relative;
  aspect-ratio: 1/ 4;
  height: 5000;
  margin: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  border: solid 1px var(--theme-foreground-focus);
  background: color-mix(in srgb, var(--theme-foreground-focus) 5%, transparent);
  padding: 1rem;
  box-sizing: border-box;
  pointer-events: none;
}

span.inner {
  position: absolute;
  left: 1%;
  right: 1%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: solid;
  background: black;
  color: white;
  opacity: 0.8;
  border-radius: 25px;
}
